// .babelrc
{
    "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ],
        "stage-2"
    ],
    "plugins": [
        "external-helpers"
    ],
    "env": {
        "commonjs": {
            "plugins": [
                ["transform-es2015-modules-commonjs", { "loose": true }]
            ]
        }
    }

}
